.navbar1 {
    background-color: #143447;
    padding: 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.navbar1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar1 a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}


.navbar1 a:hover {
    color: #81C7BC;
}

.doos {
    border: 2px solid #FF0763;
    border-radius: 10px;
    background-color: #143447;
    padding: 20px;
    margin-bottom: 30px;
    color: #81C7BC;
}

h1{
    font-size: 2cm;
    font-family: "Pixelify Sans", sans-serif;
    color: #FF0763;
}

h2{
    font-family: "Pixelify Sans", sans-serif;
    color: #FF0763;
}

h3{
    font-family: "Pixelify Sans", sans-serif;
    color: #FF0763;
}