.navbar1 {
    background-color: #143447;
    padding: 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.navbar1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar1 a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}


.navbar1 a:hover {
    color: #81C7BC;
}

.doos {
    border: 2px solid #FF0763;
    border-radius: 10px;
    background-color: #143447;
    padding: 20px;
    margin-bottom: 30px;
    color: #81C7BC;
}

h1{
    font-size: 2cm;
    font-family: "Pixelify Sans", sans-serif;
    color: #FF0763;
}

h2{
    font-family: "Pixelify Sans", sans-serif;
    color: #FF0763;
}

h3{
    font-family: "Pixelify Sans", sans-serif;
    color: #FF0763;
}

.customBorder{
    border: 2px solid #FF0763; 
    padding: 20px; 
    margin: 20px; 
    border-radius: 10px; 
    background-color: #143447; 
    max-width: 400px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 100%; 
    height: auto;
    max-width: 2172px
}
figcaption{
    color: gray;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: gray;
    color: gray;
    font-size:xx-small;
}

.contact-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #143447;
    color: #81C7BC;
  }
  .form-container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: #143447;
    border-radius: 8px;
    box-sizing: border-box;
  }
  .custom-label {
    color: #81C7BC;
  }
  .custom-input {
    background-color: #143447;
    border: 1px solid #81C7BC;
    color: #81C7BC;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  .custom-input:focus {
    outline: none;
    border-color: #FF0763;
  }
  .custom-button {
    background-color: #143447;
    color: #FF0763;
    border: 1px solid #FF0763;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
  .custom-button:hover {
    background-color: #FF0763;
    color: #143447;
  }